.App {
  text-align: center;
  color: #5072a7;
  background-color: #72a0c1;
  border-radius: 10px;
}

.mb-3 {
  color: rgb(49, 42, 42);
  font-size: 22px;
  font-family: Work Sans, Arial, sans-serif;
}
